#sidebarMain {
	display: inline-block;
	width: 19vw;
	min-width: 274px;
	height: stretch;
	border-radius: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

#sideHead {
	font-size: xx-large;
	white-space: nowrap;
}

#addBtn {
	border: none;
	transition: 0.3s;
	font-size: small;
	color: white;
	margin: 4px;
}

#addBtn:hover {
	transform: scale(1.05);
}

#menuBtn {
	position: relative;
	left: -6px;
	display: inline-block;
	background-color: transparent;
	border: none;
}

#menuBtn:focus {
	outline: none;
}
#menuBtn:hover {
	transform: scale(1.05) translateY(-2px);
}
@media only screen and (max-width: 950px) {
	#sidebarMain {
		width: 98%;
		height: auto;
		min-height: 110px;
		max-height: 25vh;
		margin-bottom: 4px;
		overflow-x: hidden;
		overflow-y: visible;
	}
}
